body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.name-highlight {
  color: blue;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.half-width img {
  width: 70%;
}
.top-banner {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}
section {
  height: 500px;
}
a {
  text-decoration: none;
  color: white;
}
.link-button {
  text-decoration: none;
  background-color: rgb(0, 17, 255);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: aliceblue;
  font-weight: 700;
}

.experience-area{
  background-image: url(Images/exp-bg.png);
  background-repeat: no-repeat;
}
footer p{
  text-align: center;
  font-size: 12px;
}
.single-experience{
  box-shadow: 10px 10px 40px gray;
  border-radius: 5px;
  height: 80%;
}
#full-stack{
  border-left: 7px solid;
  border-image: linear-gradient(180deg, lightsalmon,tomato);
  border-image-slice: 1;
}
#noob-web{
  border-left: 7px solid;
  border-image: linear-gradient( rgb(122, 255, 248),rgb(71, 154, 255));
  border-image-slice: 1;
}